{% for type, value in data %}
    <a
        href="https://{{ value.prefix ?? '' }}{{ type }}.com/{{ value.username }}"
        title="{{ type|capitalize }}"
        target="_blank"
        rel="nofollow,noopener">
        <i class="fab fa-{{ type }} text-gray-600 hover:text-black"></i>
    </a>
{% endfor %}
