<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        {% block meta %}
            <title>{% block title %}{{ author }} // Portfolio{% endblock %}</title>
            {# Search Engine #}
            <meta name="author" content="{{ author}}">
            <meta name="description" content="{% block description %}Personal website{% endblock %}">
            <meta name="image" content="{% block meta_image %}{{ (website_url ~ asset('img/site_preview.png'))|sanitize_url }}{% endblock %}">
            {# Schema.org for Google #}
            <meta itemprop="name" content="{{ block('title') }}">
            <meta itemprop="description" content="{{ block('description') }}">
            <meta itemprop="image" content="{{ block('meta_image') }}">
            {# Twitter #}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@{{ github_user }}">
            <meta name="twitter:creator" content="@{{ github_user }}">
            <meta name="twitter:image" content="{{ block('meta_image') }}">
            {# Open Graph general #}
            <meta name="og:title" content="{{ block('title') }}">
            <meta name="og:description" content="{{ block('description') }}">
            <meta name="og:image" content="{{ block('meta_image') }}">
            <meta name="og:url" content="{{ (website_url ~ app.request.requestUri)|sanitize_url }}">
            <meta name="og:site_name" content="{{ author }}">
            <meta name="og:type" content="{% block og_type %}website{% endblock %}">
            <link rel="alternate" type="application/rss+xml" href="{{ path('blog_rss') }}" title="Rss feed for {{ website_url }}">
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('tailwind') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen bg-gray-300 font-sans">
        <header>
            {% block header %}
            <div class="bg-gray-100 mb-6 pb-6 w-full h-auto flex flex-col items-center shadow-sm">
                <div class="h-64 xl:h-full w-full">
                    {% block header_image %}
                    <img class="h-full w-full object-cover" src="{{ unsplash('web-site', 1600, 300) }}">
                    {% endblock %}
                </div>
                <div class="-ml-56 sm:w-64">
                    <div class="shadow h-32 w-32 -my-16 border-white rounded-full overflow-hidden border-4">
                        <a href="/">
                            <img class="object-cover w-full h-full" src="https://gravatar.com/avatar/{{ gravatar_hash }}?s=200">
                        </a>
                    </div>
                </div>
                <div class="mt-16 sm:mt-4">
                    <h1 class="text-3xl text-center font-bold">
                        {{ author }}
                    </h1>
                    <p class="text-sm text-gray-600 text-center">
                        🇫🇷 Web developer
                        <div class="text-center">
                        {{ social_link() }}
                        </div>
                    </p>
                </div>
                <div class="mt-4 pt-3 flex flex-wrap mx-6 border-t justify-center">
                    {% block sub_profile %}
                        {{ interests() }}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </header>
        <main class="flex-grow">
            {% block body %}{% endblock %}
        </main>
        <footer class="m-auto border-t border-gray-400 py-4 w-full max-w-5xl px-2 md:px-12 md:text-sm text-gray-600">
            <div class="sm:flex justify-between text-center">
                <div class="sm:w-1/2 sm:text-left">
                    © <a href="{{ website_url }}">{{ author }}</a>
                </div>
                <div class="w-full sm:text-center">
                    Last generation: {{ 'now'|format_datetime() }}
                </div>
                <div class="sm:w-1/2 sm:text-right">
                    {{ social_link() }}
                </div>
            </div>
        </footer>
        {% block javascripts %}
            <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" rel="prefetch" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}

            {% if app.environment is same as('prod') %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-39521443-1');
            </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
