<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('tailwind') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        <header>
            Navigation bar
        </header>
        <main class="flex-grow">
            {% block body %}{% endblock %}
        </main>
        <footer class="m-auto border-t border-gray-700 py-4 w-full max-w-5xl px-12 flex justify-between">
            <div class="w-1/3 text-left">
                Last generation time: {{ 'now'|format_datetime('short', 'short', locale='fr') }}
            </div>
            <div class="w-1/3 text-center">
                © <a href="https://jibébarth.fr">Jibé Barth</a>
            </div>
            <div class="w-1/3 text-right">
                {{ social_link() }}
            </div>
        </footer>
        {% block javascripts %}
            <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" rel="prefetch" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
